@import lib.css.sass

$red: #a93329
$yellow: #c79731

html, body
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana
  font-size: 12px
  line-height: 1.3em
  margin: 0
  padding: 0

a
  color: $yellow

a:hover
  color: $red

h1
  font-size: 2em
  margin: 0 0 1em 0
  font-weight: bold
  color: $red

h2
  font-size: 1.5em
  margin: 0 0 1em 0
  font-weight: bold
  color: $red

p
  margin: 0 0 1em 0

p.powpow
  line-height: 1.3em
  font-size: 2em
  color: $yellow

ul.supporters
  li.supporter
    float: left
    margin: 0 1em 0.5em 0
    font-size: 0.8em

.content_inner
  width: 500px
  margin: 0 auto

.part
  margin: 0 0 3em 0

#header
  background: $red
  padding: 2em 0 3em 0
  color: #FFF

#logo
  display: block
  width: 484px
  margin: 0 auto

#content
  padding: 3em 0
  color: #333