@import lib.css.sass

$red: #a93329
$yellow: #c79731

html, body
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana
  color: #FFF
  line-height: 1.3em  
  background: $red

a
  color: $yellow

a:hover
  color: #FFF
           
#container
  text-align: center
  
#logo      
  display: block
  width: 484px
  margin: 40px auto    
  
  
