= image_tag('euruko2013.jpg', :id => 'logo', :width => 484, :height => 381)
        
%p
  Switzerland applies to be hosting Euruko 2013. 
%p
  = link_to 'http://euruko2012.org', 'See you in Amsterdam!'