= image_tag('euruko2013.jpg', :id => 'logo', :width => 484, :height => 381)
%p
  We want to host the next <a href="http://euruko.org">EuRuKo</a> in Switzerland, the land of mysterious mountains, dreamy cheese and delicious chocolate.
%p
  Therefore we took the liberity to buy this domain and setup this page. We will gladly donate this domain to the community and the winning team.
%p
  = link_to 'http://euruko2012.org', 'See you in Amsterdam!'

%h1
  Who is behind this?

%ul
  %li <a href="http://github.com/geku">Georg Kunz</a>
  %li <a href="http://github.com/masone">Christian Felder</a>
  %li <a href="http://github.com/firmasaga">firmasaga</a>
  %li <a href="http://github.com/phuesler">Patrick Huesler</a>
