!!!
%html
  %head
    %title Zürich - Candidate city for EuRuKo 2013

    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}

    %meta{:content => "INDEX,FOLLOW", :name => "robots"}/
    %meta{:content => "European Ruby conference in Zürich, Switzerland", :name => "description"}/
    %meta{:content => "euruko, ruby, conference, zurich, zürich, switzerland", :name => "keywords"}/

    %link{:href => "/images/favicon.ico", :rel => "shortcut icon"}/        	

    = stylesheet_link_tag 'site.css'
    =# javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js', 'site.js'
    = yield_content :head

  %body{:class => page_classes}

    #header
      .content_inner
        = image_tag('euruko2013.jpg', :id => 'logo', :width => 484, :height => 381)
    #content
      .content_inner
        = yield
    
    #footer
      